data/active_observation_planner/*.csv filter=lfs diff=lfs merge=lfs -text
data/active_observation_planner/*.nc filter=lfs diff=lfs merge=lfs -text
data/active_observation_planner/*.pkl filter=lfs diff=lfs merge=lfs -text
